<!DOCTYPE html>
<html lang="pt_BR">

<head>
    <title>
        Início
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {$resources_css}

</head>

<body>

    {$header}

    <div class="container-fluid">
        <div class="row">
            <div class="col-3 bg-light p-0">
                
                {$leftbar}
            
            </div>
            <div class="col-9 p-0">
                
                {$content}
                
            </div>
        </div>
    </div>

    {$resources_js}

</body>

</html>