<!DOCTYPE html>
<html lang="pt_BR">
    <head>
        <title>
            Início
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="resources/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-light bg-light navbar-expand-lg">
            <a href="#" class="navbar-brand">
                <img src="resources/img/brand.jpg" alt="">
            </a>
            <button class="navbar-toggler" data-target="#navbar" data-toggle="collapse">
                <span class="navbar-toggler-icon">

                </span>
            </button>
            <div class="navbar-nav" id="navbar">
                <div class="nav-item">
                    <a href="#" class="nav-link">Item</a>
                </div>
                <div class="nav-item">
                    <a href="#" class="nav-link">Item</a>
                </div>
                <div class="nav-item">
                    <a href="#" class="nav-link">Item</a>
                </div>
            </div>
        </nav>
        

        <script src="resources/js/bootstrap.min.js"></script>
        <script src="resources/js/popper.min.js"></script>
        <script src="resources/js/jquery.min.js"></script>
    </body>
</html>