<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Nova venda</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/vendas">Vendas</a></li>
                        <li class="breadcrumb-item active">Nova</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Button trigger modal -->

                    <div class="card mt-2">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-store    "></i>
                                <span class="ml-2">Venda</span>
                            </h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="card">
                                <div class="card-header bg-dark">
                                    <button class="btn btn-light" data-target="#cliente-collapse"
                                        data-toggle="collapse">
                                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                                        <span class="ml-2">
                                            Adicionar cliente
                                        </span>
                                    </button>
                                </div>
                                <div class="collapse" id="cliente-collapse" style="transition: 0.2s;">
                                    <div class="card-body">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-12 col-md-4">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <div class="input-group-text">
                                                                <i class="fas fa-id-card    "></i>
                                                            </div>
                                                        </div>
                                                        <input type="text" name="cpf" id="cpf" class="form-control"
                                                            placeholder="CPF...">
                                                        <div class="input-group-append ">
                                                            <div class="input-group-text bg-dark">
                                                                <a href="#">
                                                                    <i class="fas fa-search link-light"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class=" col-12 col-md-8 mt-2 mt-md-0">

                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <div class="input-group-text">
                                                                <i class="fas fa-user"></i>
                                                            </div>
                                                        </div>
                                                        <input type="text" name="nome" id="nome" class="form-control"
                                                            placeholder="Nome..." disabled>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>