<nav class="navbar navbar-light bg-light navbar-expand-lg">

    <a class="navbar-brand" href="#">
        <img class="img-fluid" src="/resources/img/brand.jpg" alt="Logo" style="border-radius: 10px;">
    </a>

    <button class="navbar-toggler" data-toggle="collapse" data-target="#my-navbar">
        <span class="navbar-toggler-icon">

        </span>
    </button>

    <div class="collapse navbar-collapse" id="my-navbar">
        <div class="navbar-nav">
            <div class="nav-item">
                <a href="/" class="nav-link">
                    Início
                </a>
            </div>
            <div class="nav-item">
                <a href="/produto/lista" class="nav-link">
                    Produtos
                </a>
            </div>
            <div class="nav-item">
                <a href="/produto/cadastro" class="nav-link">
                    Novo produto
                </a>
            </div>
        </div>
    </div>

</nav>
