<nav class="navbar navbar-light bg-light navbar-expand-lg">
    <div class="navbar-brand">
        <a href="#">
            <img alt="Logo" src="/resources/img/logo.png">
        </a>
    </div>
    <button class="navbar-toggler" data-target="#my-navbar-collapse" data-toggle="collapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse" id="my-navbar-collapse">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="#">
                Home
            </a>
            <a class="nav-item nav-link" href="#">
                About
            </a>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                    Dropdown
                </a>
                <div class="dropdown-menu">
                    <div class="dropdown-item">Item 1</div>
                    <div class="dropdown-item">Item 2</div>
                    <div class="dropdown-item">Item 3</div>
                </div>
            </div>
        </div>
    </div>
</nav>