<div class="container-fluid p-0">
    <div class="row w-100">
        <span class="text-center w-100 mt-5 h5">
            Menu
        </span>
        <ul class="nav flex-column mt-3 w-100 ml-4">
            <li class="nav-item mt-3">
                <a href="/produtos" class="btn text-left ml-5">
                    <i class="fa fa-inbox" aria-hidden="true"></i>   Produtos
                </a>
            </li>
            <div class="dropdown-divider"></div>
            <li class="nav-item mt-3">
                <a href="/clientes" class="btn text-left ml-5">
                    <i class="fa fa-users" aria-hidden="true"></i> Clientes
                </a>
            </li>
            <div class="dropdown-divider"></div>
            <li class="nav-item mt-3">
                <a href="/vendas" class="btn text-left ml-5">
                    <i class="fas fa-store    "></i> Vendas
                </a>
            </li>
        </ul>
    </div>
</div>